.scheduler-container {
}

.scheduler-header-main {
	background: #ff4c4c;
	width: 100%;
	height: 56px;
	display: grid;
	grid-template-columns: repeat(2, 0.7fr) repeat(7, 2fr);
	min-width: 500px;

	margin-bottom: 5px;
}

.scheduler {
	background: white;
	overflow-x: auto;

	display: grid;
	grid-template-columns: repeat(2, 0.7fr) repeat(7, 2fr);
	grid-template-rows: repeat(72, 30px);

	justify-items: center;
	align-items: center;

	min-width: 500px;
	/* border: 1px solid black; */

	grid-template-areas: 'clock clock';
	gap: 2px;
}



.scheduler-header {
	background-color: #ff4c4c;

	width: 100%;
	height: 100%;
	/* border: 1px solid #000000;*/
	box-sizing: border-box;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 23px;

	color: #ffffff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.scheduler-clock {
	/* grid-area: clock; */
	grid-column-start: 1;
	grid-column-end: 3;
}

.scheduler .spacer {
	display: absolute;
	background: #F4F4F4;
	width: 100%;
	height: 100%;
	grid-column-start: 3;
	grid-column-end: 10;

	grid-row-start: 2;

	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

.scheduler .schedule {
	background: #caff4f;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;

	grid-column-start: 6;

	grid-row-start: 1;
	grid-row-end: 6;

	border-left: 5px solid rgb(68, 223, 29);
}
