.register-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: rgba(80, 80, 80, 0.2) -1px 2px 6px 1px;
    width: fit-content;
    border-radius: 16px;
    padding: 24px;
}

.col {
    display: flex;
    flex-direction: column;
}

#regis-pass, select {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#regiseye {
    margin-top: 17px;
}

.pass-constraint{
    color: #FC182A;
    font-size: 10px;
    font-weight: 600;
}