.benefit {
    display: flex;

    align-items: start;
    flex-direction: column;
    justify-content: center;

    max-width: 450px;
}

.jumbotronn {
    /* background-color: #d9ffdb; */
    margin-top: 0px;
    z-index: 3;
    position: relative;
    /* width: max-content; */
    height: fit-content;
    padding-top: 0vw;
    padding-bottom: 3vw;
    padding-left: 0vw;
}

.home-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 24px; 

    flex-wrap: wrap;
    margin: 44px auto;
    max-width: 1500px;
    padding: 0 32px;

    box-sizing: border-box;
}

.logo-bta {
    z-index: -1;
    position: relative;
    padding-left: 0vw;
}

.gambar-privat {
    z-index: -2;
    position: relative;
    /* width: 200px;
    height: 200px; */
    
}

.page-container{
    position: relative;
    min-height: 100vh;
}


@media (max-width: 894px) {
    .jumbotronn {
        /* padding-top: 12vw; */
    }

    .benefit {
        padding-top: 0;
    }

    .logo-bta {
        display: none;
        
    }

    .gambar-privat {
        z-index: -2;
        position: relative;
        width: 300px;
        height: 300px;
        
    }

    


}