.searchbar {
    width: 30%;
    border-radius: 4px;
    border: 1px solid #404040;
    padding: 1% 4%;
    margin: 1% 1%;
    background-image: url(https://www.pngarea.com/pngm/109/1164446_searchicon-png-search-icon-png-download.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 12px;
    background-size: 16px;
}

.formm {
    width: 30%;
}