

.footer {
    background: linear-gradient(to right, #B51D21, #D71B25, #FC182A);
    margin-top: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
    height: fit-content; 
    box-sizing: border-box;
}

.footer-bottom{
    bottom: 0;
}

.text-footer {
    margin-left: 16px;
}

.nomor-cabang {
    font-size: 13px;
}

.nama-cabang {
    font-weight: bold;
}

.section-footer {
    margin: 16px;
}
